$green-color: #728C69;
$semi-transparent-green: rgba($green-color, 0.5);
$black-color: #000000;

body {
    background-color: $semi-transparent-green;
}

header {
    background-color: rgb(146, 159, 134);
    text-align: center;
    border-bottom: 5px solid $black-color;

    h1 {
        font-family: 'bitter';
        font-weight: 600;
    }

    #cartButton {
        background-color: transparent;
        border-style: none;
        position: relative;
        display: inline-block;
        text-align: end;

        &:hover {
            cursor: pointer;
        }
        
    }

    #cartItemCount {
        position: absolute;
        top: -10px;
        left: 25px;
        background-color: white;
        border-radius: 50%;
        padding: 0.3em 0.6em 0.3em 0.6em;
        font-size: 0.8rem;
        margin-bottom: 10px;
        

    }
}



h2, h3, label {
    font-family: 'bitter';
    font-weight: 600;
}

#sortingDropdown {
    font-family: 'Open Sans';
}


p {
    font-family: 'zilla-slab';
    font-weight: 400;
    font-size: 1rem;
}

.amountContainer {
    font-size: 2.5vh;
    font-family: 'zilla-slab';
}

.fantasyMonsterPhotos {
    border: 5px solid $black-color;

}

.add, .subtract {
    border-radius: 8px;
    padding: 5px 9px 5px 9px;
    background-color: white;
    color: $black-color;
    border: solid $green-color 2px;
    font-size: 1.3rem;
    font-weight: 600;
}