$green-color: rgb(146, 159, 134);
$semi-transparent-green: rgba($green-color, 0.5);
$black-color: black;
$white-color: white;
$red-color: red;
$dark-mode-green-color: rgb(100, 106, 94);
$grey-color: grey;

body {
    background-color: $semi-transparent-green;
}

body.darkMode {
    background-color: $dark-mode-green-color;
}

header {
    background-color: $green-color;
    text-align: center;
    border-bottom: 5px solid $black-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        font-family: 'bitter';
        font-weight: 600;
        margin-left: 1rem;
    }

    .cartButton {
        background-color: transparent;
        border-style: none;
        position: relative;
        display: inline-block;
        text-align: end;
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }
        
    }

    .cartItemCount {
        position: absolute;
        top: -10px;
        left: 25px;
        background-color: $white-color;
        border-radius: 50%;
        padding: 0.3em 0.6em 0.3em 0.6em;
        font-size: 0.8rem;
        margin-bottom: 10px;
        

    }
}



h2, h3, label {
    font-family: 'bitter';
    font-weight: 600;
}

.sortingDropdown {
    font-family: 'Open Sans';
}


p {
    font-family: 'zilla-slab';
    font-weight: 400;
    font-size: 1rem;
}

.amountContainer {
    font-size: 2.5vh;
    font-family: 'zilla-slab';
}

.fantasyMonsterPhotos {
    border: 5px solid $black-color;

}

.add, .subtract {
    border-radius: 8px;
    padding: 5px 9px 5px 9px;
    background-color: $white-color;
    color: $black-color;
    border: solid $green-color 2px;
    font-size: 1.3rem;
    font-weight: 600;
}

.firstnameErrorMessage, .lastnameErrorMessage, .streetnameErrorMessage, .postCodeErrorMessage,
.cityErrorMessage, .mobileErrorMessage, .emailErrorMessage, .personalIdErrorMessage {
    color: $red-color;
    font-size: 0.8rem;

} 

.orderMessage {
    background-color: $white-color;
    border: solid 8px $green-color;
    border-radius: 8px;
    padding: 8px;
    margin: 20px 10px 20px 10px;
}


.clearFormButton, .orderButton {
    border-radius: 8px;
    padding: 5px 9px 5px 9px;
    background-color: $white-color;
    color: $black-color;
    border: solid $green-color 2px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'bitter';
}

.finalOrderButton.disabled {
    background-color: $grey-color;
    border-radius: 8px;
    padding: 5px 9px 5px 9px;
    color: $black-color;
    border: solid $green-color 2px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'bitter';
}

.finalOrderButton:not(:disabled) {
    border-radius: 8px;
    padding: 5px 9px 5px 9px;
    background-color: $white-color;
    color: $black-color;
    border: solid $green-color 2px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'bitter';

    &:hover {
        cursor: pointer;
    }

}

